<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserResume">
  <select id="countresume" resultType="int" parameterType="int">
  SELECT COUNT(*) FROM USER_RESUME_DETAIL WHERE MEMBER_NO_SEQ = #{member_no_seq}
  </select>
  
  
</mapper>
