<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserMember">
 
 	<select id="UserList" resultType="UserMemberDto">
 	SELECT * FROM USER_MEMBER
 	</select>
 	<select id="UserOne" resultType="UserMemberDto" parameterType="String">
	SELECT * FROM USER_MEMBER WHERE MEMBER_ID = #{id}
	</select>
	
	<select id="idchk" parameterType="String" resultType="int">
	SELECT COUNT(*) FROM USER_MEMBER WHERE MEMBER_ID = #{id}
	</select>
	
	<insert id="insert" parameterType="UserMemberDto">
	INSERT INTO USER_MEMBER VALUES(MEMBERSEQ.NEXTVAL,#{member_id},#{member_pw},#{member_name},#{member_birth},#{member_addr},#{member_tel},#{member_email},'Y',#{member_gender},1000,SYSDATE,'ROLE_USER',NULL)
	</insert>
	
	<insert id="registinsert" parameterType="UserMemberDto">
	INSERT INTO USER_MEMBER VALUES(MEMBERSEQ.NEXTVAL,#{member_id},#{member_pw},#{member_name},#{member_birth},#{member_addr},#{member_tel},#{member_email}||'@'||#{member_email_addr},'Y',#{member_gender},1000,SYSDATE,'ROLE_USER',NULL)	
	</insert>
	
	<insert id="buis_registinsert" parameterType="UserMemberDto">
	INSERT INTO USER_MEMBER VALUES(MEMBERSEQ.NEXTVAL,#{member_id},#{member_pw},#{member_name},#{member_birth},#{member_addr},#{member_tel},#{member_email}||'@'||#{member_email_addr},'Y',#{member_gender},1000,SYSDATE,'ROLE_BUIS',#{member_buis_num})
	</insert>
	
	<update id="update_pw" parameterType="UserMemberDto">
	UPDATE USER_MEMBER SET 
	MEMBER_PW = #{member_pw} WHERE MEMBER_EMAIL = #{member_email}
	</update>
</mapper>
